img
{
    border-radius: 3px;
    width: 25%;
    height: auto;
}
img:hover
{
    opacity: 0.5;
}
main section:nth-child(2) img
{
    filter: grayscale(100%);}
nav.scrollmenu{
    background-color: #b5838d;
    overflow: auto;
    white-space: nowrap;}
nav.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;}
nav.scrollmenu a:hover {
    background-color: #6d6875;}